* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main--green: #99E2D0;
  --main--darkgreen: #008766;
  --main--blue: #89C8FA;
  --main--darkblue: #003A68;
  --main--purple: #9356DC;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: #F2f2f2;
  animation: wrapper 3s ease-in-out forwards;
  transition: all;
}
.wrapper .loading {
  display: flex;
  position: absolute;
  width: auto;
  height: 20px;
  transition: all 0.4s ease;
}
.wrapper .loading .loader {
  display: block;
  align-items: flex-end;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  width: 5px;
  height: 5px;
  position: absolute;
  animation: loader 1.2s ease infinite both;
  border-radius: 4px;
  bottom: 0;
}
.wrapper .loading .loader:nth-child(1) {
  transform: translateX(-20px);
}
.wrapper .loading .loader:nth-child(2) {
  animation-delay: 0.4s;
}
.wrapper .loading .loader:nth-child(3) {
  animation-delay: 0.8s;
  transform: translateX(20px);
}
@keyframes loader {
  0% {
    height: 5px;
    bottom: 0;
    opacity: 1;
  }
  25% {
    opacity: 0.3;
    bottom: 0;
    height: 15px;
  }
  50% {
    opacity: 1;
    height: 5px;
    bottom: calc(100% - 5px);
  }
  75% {
    opacity: 0.3;
    height: 15px;
    bottom: 0;
  }
  100% {
    opacity: 1;
    height: 5px;
    bottom: 0;
  }
}
@keyframes wrapper {
  0% {
    opacity: 1;
    display: initial;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
    overflow: hidden;
  }
}

.capitalize {
  text-transform: capitalize;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.header .logo {
  width: 50%;
}
.header .location {
  width: 100%;
  height: 50px;
}
.header--grey {
  background-color: #EAEAEA;
  border-top: solid 0.5px rgba(197, 197, 197, 0.966);
  gap: 18px;
}

.call_to_action {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.call_to_action .accroche {
  font-size: 24px;
}
.call_to_action .pub {
  font-size: 18px;
}
.call_to_action .btn {
  width: 218px;
  height: 50px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 5px 5px 5px #F3F3F3;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.call_to_action .btn:hover {
  filter: brightness(105%);
}

.content {
  margin: 0;
  width: 100%;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fonctionnement-titre {
  text-align: start;
}
.fonctionnement-menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 18px;
}
.fonctionnement-menu a {
  text-decoration: none;
  font-weight: 700;
}
.fonctionnement-menu-btn {
  width: 100%;
  height: 72.38px;
  background-color: #f6f6f6;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 20px;
  border-bottom: 0.5px solid lightgrey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.fonctionnement-menu-btn-num {
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  border-radius: 12px;
  position: absolute;
  left: -10px;
  color: white;
  text-align: center;
  line-height: 24px;
}
.fonctionnement-menu-btn .fa-store {
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .fonctionnement-menu {
    display: flex;
    flex-flow: row nowrap;
  }
  .fonctionnement .num3 {
    color: #353535;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  padding-left: 10px;
  position: relative;
  background: #f6f6f6;
}
.restaurants-title {
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
}
.restaurants-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding-bottom: 5%;
  position: relative;
}
.restaurants-cards-separator {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding-bottom: 25px;
}
.restaurants-cards-link {
  text-decoration: none;
  color: black;
  width: 90%;
  position: relative;
}
.restaurants-cards .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  border-bottom: solid 0.5px #EAEAEA;
  padding-bottom: 20px;
}
.restaurants-cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 231px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurants-cards .card .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.restaurants-cards .card .container-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  text-align: justify;
  font-size: 16px;
}
.restaurants-cards .card .container-text-title {
  font-size: 18px;
  margin: 0;
}
.restaurants-cards .card .container-heart {
  position: relative;
}
.restaurants-cards .card .container-heart > .heart-empty {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}
.restaurants-cards .card .container-heart > .heart-full {
  z-index: 2;
  position: inherit;
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.restaurants-cards .card .container-heart > .heart-full:hover {
  animation: heartShow 0.5s forwards ease-in-out;
  transition: all;
}
@keyframes heartShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .restaurants-cards {
    flex-flow: column nowrap;
  }
  .restaurants-cards-separator {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }
}

.container-new-text {
  color: #008766;
  position: absolute;
  right: 38px;
  top: 14px;
  background-color: var(--main--green);
  height: 29px;
  width: 80px;
  text-align: center;
  line-height: 29px;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  background-color: #353535;
  width: 100%;
  gap: 18px;
}
.footer-content {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding-left: 5%;
  gap: 10px;
  padding-top: 10px;
}
.footer-content-text {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .footer-content-text {
    justify-content: flex-end;
  }
}
.footer-content-logo {
  color: white;
  width: 30%;
  height: 27px;
  filter: invert(100%);
}
.footer-content i {
  color: #EAEAEA;
  text-decoration: none;
  padding-right: 5px;
}
.footer-content i a {
  text-decoration: none;
  color: #EAEAEA;
  padding-left: 5px;
}
.footer-content a {
  text-decoration: none;
  color: #EAEAEA;
  padding-left: 5px;
}
@media screen and (min-width: 1024px) {
  .footer {
    height: 114px;
    flex-flow: row-reverse nowrap;
    align-items: flex-end;
    gap: 10px;
  }
  .footer-content {
    flex-flow: row-reverse nowrap;
    width: 85%;
  }
  .footer-content-text {
    flex-flow: row nowrap;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
}

.background {
  width: 100%;
}
.background-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 383px;
}

.header-menus {
  display: flex;
  width: 90%;
  align-items: stretch;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .header-menus {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .header-menus-logo {
    width: 50%;
    height: 50%;
  }
}

.arrow {
  color: black;
  font-size: 30px;
}
@media screen and (min-width: 1024px) {
  .arrow {
    color: black;
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .menus-mainpage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.menu {
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -49px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 70%;
    align-items: center;
  }
}
.menu-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .menu-top {
    width: 55%;
  }
}
.menu-top-title {
  font-family: "Shrikhand", sans-serif;
  text-transform: capitalize;
  font-size: 28px;
}

.coeur {
  position: relative;
}
.coeur-empty {
  position: absolute;
  top: -15px;
  right: 0px;
  z-index: 1;
}
.coeur-full {
  position: absolute;
  z-index: 2;
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  top: -15px;
  right: 0px;
  transition: all;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.coeur-full:hover {
  animation: heartShow 0.5s forwards ease-in-out;
}

.menu-body {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}
.menu-body-head {
  position: relative;
}
.menu-body-title {
  font-weight: 200;
  font-size: 18px;
  text-transform: uppercase;
}
.menu-body-bar {
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  height: 1px;
  position: absolute;
  top: 34px;
}

.menu-bcard-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 98%;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.menu-bcard-content:hover > .menu-bcard-check {
  animation: checkani 1000ms forwards ease-in-out;
  transition: all;
}
.menu-bcard-content:hover > .menu-bcard-check > i {
  animation: iconshow 1000ms forwards ease-in-out;
  transition: all;
}
.menu-bcard-content:hover > .menu-bcard-container {
  animation: cardwid 1000ms forwards ease-in-out;
  transition: all;
}
.menu-bcard-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 98%;
  justify-content: center;
  align-items: stretch;
  margin: 0 1%;
}
.menu-bcard-title {
  font-weight: 700;
  margin-bottom: 5px;
}
.menu-bcard-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.menu-bcard-descrip {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-bcard-check {
  height: 69px;
  width: 0%;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
}
.menu-bcard-check > i {
  color: white;
  font-size: 20px;
  opacity: 0;
}

@keyframes cardwid {
  0% {
    width: 98%;
  }
  100% {
    width: 83%;
  }
}
@keyframes text {
  0% {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  100% {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@keyframes checkani {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}
@keyframes iconshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.euro {
  font-weight: 600;
  color: #353535;
}

.commande {
  width: 218px;
  height: 50px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  color: white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 1px 6px 5px 5px #F3F3F3;
}
.commande:hover {
  filter: brightness(105%);
}/*# sourceMappingURL=style.css.map */